# Local Netlify folder
.netlify

api/node_modules

# client/node_modules

# api/package-lock.json

client_server/node_modules

client_server/package-lock.json

client/node_modules/.cache/default-development
