
$lightGreen: #b9e7e7;

.full-page{
   
}

.w-100{
    width:100%;
}



i.duration{
    font-size:12px;
    font-weight: lighter;
}

.briefDescription{
    font-weight: lighter;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.briefHeadline{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.articlePreview{
    .articleHeadline{
        display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}

.preview-mid-container,.preview-small-container,.preview-big-container{
    width:100%
}

.preview-mid,.preview-small-container,.preview-big{
    border:.1em solid white;   
    padding:0px;
    background-color: white;
    
}

.preview-mid-container{
    gap:8px;
    margin-right:0px;
}

.preview-big{
    margin:25px 0px;
   
}

// .single-content{
//     justify-content: center;
// }

.space-between{
    justify-content:space-between;
}

.btn-submit{
    padding: 10px;
    border: none;
    background-color: teal;
    cursor: pointer;
    color: white;
  }

//REGISTER
#register-page{
    background-color: $lightGreen;
    height: 100vh;
 
}
#register-form{
    width:280px;
    height: 500px;
    input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
      }
    
}

//   LOGIN
#login-form{
   
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $lightGreen;

    h1 {
      font-size: 20px;
      color: teal;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: white;
      width: 300px;
      gap: 20px;

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
      }

      

      p {
        font-size: 12px;
        color: red;
        text-align: center;
      }

      span {
        font-size: 12px;
        text-align: center;
      }
    }
}

#login-form input{
    margin:5px;
}

body{
    font-weight: 350;
}

.pageHead{
    margin-left:30%;
}

p{
    font-size: 15px;
}


//MainNav
#main-nav{
    padding-top:10px;
    background-color: white;
   
}

#blog-logo{
    max-width:  180px;
    margin:0px;
    padding:0px;
}

#main-nav a{
    color: black;
    padding:5px;
    font-weight: 300;

}


#main-nav #active,#main-nav h1{
    text-decoration: underline;
}

#main-nav h1{
    font-size: 40px;
}

.dropdown-toggle::after{
    display: none !important;
}


#user-dropdown-menu{
    
} 





@keyframes slideIn{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.slide-in{
    animation: slideIn 1s ease-in forwards;
}


@media screen and (min-width:992px){
    #page-links{
        margin-right:30px; 
        margin-left: 150px;   
    }
    .headline{
        font-size:30px;
    }
    
}

@media screen and (max-width:995px){
    
    #main-nav h1{
        font-size: 25px;
    }

    .preview-mid-container{
        /* height: 400px; */
    }
}

/* single */
.headline{
    font-weight:400;
}

#single-article-body{
    img{
        max-height: 400px !important;
        width: 100% !important;
        object-fit: cover;

        &::before{
            height: 400px;
            width: 100% ;

        }
        
    }
}


/*profile*/
#userName_Icon{
    width:100px;
    height:80px;
}

/*  */
.icon{
    width:13px;
}

.icon-label{
    font-size: small;
    font-weight: lighter;
}

.ic-grey{
    color:grey;
}

.ic-orange{
    color:orange;
}

.ic-white{
    color:white
}
.ic-response{
    width: 14px;
}
.ic-teal{
    color: teal;
}

.no-focus-outline:focus{    
    outline: none;
    box-shadow: none;
    border: none;
    
}


// ADMIN PANEL
#admin-side-panel{
    button:focus{
        outline: none;
        box-shadow: none;
        border:none;
    }
}
#blog-title{
    font-size: 13px;
}
#blog-domain{
    font-size:12px;
}
.admin-side-panel-links{
    a{
        color: lightgray;
        text-decoration: none;
        border-left: 4px solid transparent;

        span{
            font-size: 13px;
        }
    }
    a:hover{
        color: teal;
        border-left: 4px solid teal; 
    }
    #active{
        background-color:teal;
        // border-left: 4px solid white;
    }
    #active:hover{
        border-left: 4px solid white;
        color: white;
    }
    #sub-active{
        color: teal;
        border-left: 4px solid teal; 
        border-top: 1px dotted teal;
        background-color: rgb(27, 26, 26);
    }
    #posts-links{
        background-color: rgb(39, 39, 40);
    }
}

.admin-nav-icon{
    color: white;
    height: 20px;
}


//ADMIN ALL POSTS
#posts-nav{
    border: 1px solid lightgray;

    #admin-posts-buttons{

        button{
            color:rgb(0, 153, 255);

            
        }
        #active{
            color:black;
            border-bottom: 2px solid black;
        }
    }

    button:focus{
        outline: none;
        box-shadow: none;
        border:none;
    }
}




table{
    border: 1px solid lightgrey;

    tr{
        border-bottom: 1px solid lightgrey;
    }
}


//ADMIN-CATEGORIES
#admin-posts-categories{
    .category-name{
        font-weight: 500;
    }
}
#categories-nav{
    // padding-right: 15px;
    // height: 50px;

    button:focus{
        outline: none;
        box-shadow: none;
        border:none;
    }

    input:focus{
        outline:1px solid grey;
        box-shadow: none;
    }

    .btn-new-category{
        
        background-color:teal;
        color:white;
        margin-right: 60px;
        font-size: 13px;
    }
}

#category-menu{
    button{
        border-bottom: 1px solid lightgrey;
    }
    button:hover{
        
        background-color: rgb(70, 164, 164);
        color: white;

        .ic{
            color:white;
        }
    }
}


.category-editing-modal{
    font-size: 15px;
    width: 900px;
    .modal-input{
        border:none;
        outline: 1px solid lightgrey;


        &:focus{
            outline: 1px solid grey;

        }
    }
    
}


//ADMIN-STATS
.stat-number{
    font-size: 50px;
}

.ic-stat{
    color:grey;
}


@media screen and (min-width:768px){
    .latest-article-preview{
       position:absolute;
       bottom:-25px;
       box-shadow: 0 2px 6px -2px rgba(0,0,0,0.4);
    }

   
    
}


/* 

    FROM INITIAL BLOG

    REMOVE THIS COMMENT AFTER REFACTORING

*/



// main nav

#menu-button{
    // position:absolute;
    // right:5%;
    // top:3%;
    // display:block;
    border: 0;
    height: 50px;
    width: 50px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: teal;
  }

.btn-user{
    border: 0;
    height: 50px;
    width: 50px;
    padding: 0.5rem;
    border-radius: 50%;
    &:focus{
        outline: none;
        box-shadow: none;
        border:none;
    }
}

#write-button-container{
    background-color: $lightGreen;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    border: 1px solid white;

    &:hover {
        color: teal;
        background-color: white;
        border: 1px solid teal;
    }

   button{
        &:focus{
            outline: none;
            box-shadow: none;
            border:none;
        }
   }
}


/* FOOTER */

footer {
  margin-top: 100px;
  padding: 20px;
  background-color: $lightGreen;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  img {
    max-width: 160px;
  }
}

//ARTICLE UPDATING PAGE




#title-input{
    font-size:34px;
    font-weight: 300;
    &::placeholder{
        font-size: 34px;
    }

}

#writing-nav{
    background-color:black;
    height:40px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 100;

    button{

        &:focus{
            border:none;
            box-shadow: none;
            outline:none;
        }
    }
}

#writing-nav-spacer{
    height: 8px;
    width: 100%;
    background-color: white;
    position:fixed;
    top:40px;
    z-index: 1;
}

#article-update {
    padding-top:140px;
       
    .toolbar{
        position: fixed;
        z-index: 1;
        top:48px;
    }
        
    .editor{
        position: relative; /* Ensure it has positioning */
        z-index: 0;
    }

    

    h1{
        font-size: 1;
    }

    #writing-side-panel{
        background-color: white;
        position: fixed;
        right: 0;
        top: 48px;//48px;
        margin-right: 10px;
        z-index: 100;
        height: 100%;
       
    }

    #writing-side-panel .d-none{
        

    }

    

    #category{
        height:74%;

           
        #available-categories{
            height:250px;
            overflow: scroll;

            &::-webkit-scrollbar{
                display:none;
            }

            //hide scrollbar for IE, Edge and Firefox
            -ms-overflow-style: none;
            scrollbar-width: none;

           
        }

    }


    .section{
        color: teal;
    }

    #save-draft{
        &:focus{
            outline: none;
            box-shadow: none;
            border:none;
        }
    }
    button{
        &:focus{
            outline: none;
            box-shadow: none;
            border:none;
        }
        span{
            color:teal
        }
    }

    #publish-btn{
        background-color: teal;
        border: none;
        color: white;
    }

    #new-category-btn{
        border:none;
        color: black;
    }

    #add-category-btn{
        border:none;
        
    }

    .btn-ready{
        background-color: teal;
        color: white;
    }

    input{
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }

}


@media only screen and (max-width:1200px){
    #nav-brand{
        z-index:10;

    }

      #basic-navbar-nav{     
        position:absolute;
        flex-direction: column;
        left:0px;
        top:0;
        padding-top: 160px;
        padding-bottom: 100px;
        padding-right: 0px;
        width:60%;
        height: 900px;;
        background-color:teal;
        transition: .5s ease;
        justify-content: start;
        z-index:1;
        #blog-logo{
          width:10px;
          
        }
      }

      #basic-navbar-nav{
        padding-left: 20px;
      }
    
  }

  @media only screen and (min-width: 1200px){
    #menu-button{
        display: none;
    }
    #basic-navbar-nav{
    }

 
    #root{
        display: flex;
        justify-content: center;
        #app{
            width: 100%;
            
            .full-page{
                margin-right: 150px;
                margin-left: 150px;
            }
            
        }
    }
  }
  
//single
.edit-img, .delete-img{
    width:30px;
    height: 30px;
}


