
.full-page{
    background-color:aliceblue;
}

i.duration{
    font-size:12px;
    font-weight: lighter;
}

.briefDescription{
    font-weight: lighter;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview-mid-container,.preview-small-container,.preview-big{
    width:100%
}

.preview-mid,.preview-small-container,.preview-big{
    border:.1em solid lightblue;   
    padding: 0;
    background-color: white;
}

.preview-mid-container{
    gap:8px;
    margin-left:1px;
}

.preview-big{
    margin:25px 0px;
   
}

.single-content{
    justify-content: center;
}

.space-between{
    justify-content:space-between;
}

#login-form{
    margin:20%;
    background-color:white;
    padding:20px;
}

#login-form input{
    margin:5px;
}

body{
    background-color: aliceblue;
}

.pageHead{
    margin-left:30%;
}

@media screen and (max-width:990px){
    #flexed-nav{
        display:none;
    }

    .container{
        margin:20px 10px;
    }
}

#main-nav{
    margin-top:40px;
}

/* newsUpdating */
.editor-container{
    overflow:scroll;
    height:400px;
    /* border:1px solid lightgray; */
}

.editor{
    height:100%;
    border:none;
    background-color: white;
}